
@font-face{
    font-family:"Linguistics Pro";
    src:url(../Fonts/LinguisticsPro-Regular.otf);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../Fonts/LinguisticsPro-Italic.otf);
    font-weight:400;
    font-style:italic;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../Fonts/LinguisticsPro-Bold.otf);
    font-weight:600;
    font-style:normal;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../Fonts/LinguisticsPro-BoldItalic.otf);
    font-weight:600;
    font-style:italic;
}
@font-face{
    font-family:"Linguistics Pro smallcaps";
    src:url(../Fonts/LinguisticsPro-SmallCaps.woff2);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Karla";
    src:url(../Fonts/Karla-Regular.ttf)  format('opentype');
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Karla";
    src:url(../Fonts/Karla-Italic.ttf)  format('opentype');
    font-weight:400;
    font-style:italic;
}
body{
  font-family:"Linguistics Pro", serif;
  font-size:1em;
  line-height:1.3;
  color:black;
  word-spacing:-0.1px;
  font-variant-ligatures:common-ligatures;
}
ul + p, ol + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{
    text-indent:0;
  }
ul,
ol,
blockquote,
p{
  margin:0;
  padding:0;
  orphans:2;
  widows:2;
}
p,li{
  font-size:1em;
  line-height:1.3;
  text-align:justify;
  hyphens:none;
  text-indent:20px;
}
p.sc-continuous-paragraph, li.sc-continuous-paragraph{
    text-indent:0;
  }
hr{
  height:1.5em;
  margin:0;
  padding:0;
  border:0;
  margin-top:1.5em;
  margin-bottom:1.5em;
  position:relative;
  top:4px;
}
hr::before{
    width:100%;
    position:absolute;
    display:block;
    content:"* * *";
    text-align:center;
    margin:0;
  }
hr + p{
    text-indent:0;
  }
blockquote{
  padding-top:0.8em;
  line-height:1.5em;
  padding-bottom:0.8em;
  padding-left: 30px;
  padding-right: 20px;
  font-style:italic;
  font-weight:400;
}
blockquote em, blockquote cite{
    font-style:normal;
  }
blockquote cite {
    line-height:0;
    margin-left:0.5em;
    font-weight:400;
  }
blockquote cite em {
      font-style:italic;
      line-height:0;
    }
blockquote.sepo{
    white-space:pre-wrap;
  }
blockquote p:first-of-type{
    text-indent:0;
  }
.front-component a, .body-part a, .body-chapter a, .body-unumbered a, .back-component a{
    text-decoration:none;
    font-style:italic;
    line-height:0;
  }
.front-component a:not(.inline-note-callout),.body-part a:not(.inline-note-callout),.body-chapter a:not(.inline-note-callout),.body-unumbered a:not(.inline-note-callout),.back-component a:not(.inline-note-callout){

      border-bottom:2 px solid #D03C1B;
      color:#D03C1B;
    }
.front-component a:not(.inline-note-callout)::after, .body-part a:not(.inline-note-callout)::after, .body-chapter a:not(.inline-note-callout)::after, .body-unumbered a:not(.inline-note-callout)::after, .back-component a:not(.inline-note-callout)::after{
        font-size:0.9em;
        line-height:0;
      }
a.inline-note-callout{
  font-style:normal;
  font-weight:600;
  font-variant-numeric:oldstyle-nums;
  font-size:0.75em;
  margin-left:2px;
  margin-right:2px;
  position:relative;
  top:-3px;
  color:inherit;
  font-weight:400;
  line-height:0;
  font-variant-numeric:lining-nums;
  font-family:"Karla", sans-serif;
}
em,
sup,
sub,
strong,
b,
i{
  line-height:0;
}
.smallcaps{

  text-transform:uppercase;
}
figure figcaption p{
      text-indent:0;
    }
.underline{
  text-decoration:underline;
}
.notes{
  margin-top:0;
  margin-bottom:0;
  padding-top:0;
}
.notes li{
    break-inside:avoid;
  }
ol.notes[data-split-from],
ul.notes[data-split-from]{
  padding-top:0 !important;
}

h1,h2,h3,h4,h5,h6{
  font-weight:600;
  margin:0;
  padding:0;
  color:#7C994D;
}
h1{
  text-align:left;
  font-size: 3em;
  line-height:1.3;
}
h1.ct,h1.booktitle{
    margin-top:2em;
    margin-left:0;
    text-indent:0;
    font-style:italic;
  }
h1.ct::before, h1.booktitle::before{
    }
h1.booktitle::before{
    content:none;
  }
h1 + p{
  }
header{
margin-bottom: 8em; 
}
[class*="body"]:not(.appendix) header + p.double-story:first-letter, [class*="front"]:not(.appendix) header + p.double-story:first-letter{
    }
[class*="body"]:not(.appendix) header + p:first-line,[class*="front"]:not(.appendix) header + p:first-line{
      font-family:"Linguistics Pro smallcaps";
      color:black;
    }
[class*="body"]:not(.appendix) header + p::first-letter,[class*="front"]:not(.appendix) header + p::first-letter{
      font-family:"Linguistics Pro", serif;
      font-size:7em;
      position:relative;
      color:#7C994D;
      font-style:italic;
      font-weight:600;
      text-transform:uppercase;
      line-height:0.8;
      display:inline-block;
      font-variant:none;
      float:left;
      margin-right:30px;
      margin-left: -20px;
    }
h2 + p{
  text-indent:0;
}
header + h2 + p:first-line{
  }
header + h2 + p::first-letter{
  }
h1{
  line-height:1.6;
}
h2{
  font-size:1.6em;
  line-height:1.3;
  font-style:italic;
  margin-top:3em;
  margin-bottom:2em;
}
h2 + p{
  }
h3{
  font-size:1.3em;
  margin-top:2em;
  margin-bottom:1.5em;
  font-style:italic;
}
h3 + p{
  }
h4{
  font-size: 1.1em;
  margin-bottom:0;
  color:#7C994D;
  margin-top:1.3em;
}
h4 + p{
  }
h5{
  font-weight:600;
  margin-top:1.3em;
}
h5,h6{
  font-size:1em;
  color:black;
}
h6{
  font-weight:400;
  margin-top:0.5em;
  margin-bottom:0.5em;
  margin-left:20px;
}
h6 + p{
    text-indent:20px;
  }
.cst{
  margin-top:1.5em;
  text-indent:0;
  font-size: 1.2em;
  font-style:italic;
  font-weight:600;
  max-width:80%;
  hyphens:none;
  text-align:left;
  color:#7C994D;
  margin-bottom:0;
}
.cst:last-child{
    margin-bottom:108px;
  }
h1,
h2,
h3,
h4,
h5,
h6{
  break-after:avoid;
}

header blockquote cite{
    margin-left:0;
  }
header .sep,header .sepo{
    padding:1em;
  }
header .sep cite,header .sepo cite{
      display:block;
      margin-top:1.5em;
      line-height:1.3;
      font-weight:400;
      text-align:left;
    }
header .sep cite::before, header .sepo cite::before{
        content:"㇐";
        margin-right:1ch;
        font-size:0.85em;
      }
header .sep cite::after, header .sepo cite::after{
        content:none;
      }

header .author{
    text-transform:uppercase;
    margin-top:1.4em;
    hyphens:none;
    text-align:left;
    font-family:"Karla", sans-serif;
  }
header .author,p.start{
    text-indent:0;
}
header blockquote.sep{
  padding-left:20%;
  margin-top:6em;
}
header blockquote.sep p{
    text-indent:0;
  }
.break{
  break-after:page;
}
.front-component h1::before, .back-component h1::before{
    content:none;
  }
.body-chapter .component-num, .body-part .component-num {
      margin-left: 3px;
      font-size:1em;
      border-top:1px solid #7C994D;
      height:0.4em;
      font-style:normal;
      text-transform:uppercase;
      letter-spacing:0.3em;
      padding-bottom:0.1em;
      color:black;
      font-family:"Karla", sans-serif;

    }
.body-chapter h1.ct header blockquote cite{
        display:block;
        font-weight:400;
        margin:0;
        padding:0;
      }
.half-title h1{
    color:white;
    margin-top:54px;
    margin-left:0;
    text-indent:0;
    font-style:italic;
  }
img{
  width:100%;
  margin-bottom:9px;
  object-fit:contain;
}
figure{
  padding:0;
  margin:0;
  margin-top:9px;
  margin-bottom:9px;
}
figure + figure{
    margin-top:36px;
  }
figure figcaption p{
    text-align:center;
    margin:0 auto;
    font-family:"Karla", sans-serif;
    hyphens:none;
  }
.screenshot img{
  width:100%;
  height:342px;
}
ol,ul{
    margin-left:40px;
    padding-top:9px;
    padding-bottom:9px;
}
li{
    text-indent:0;
}
ol[data-split-from],ul[data-split-from]{
    padding-top:9px !important;
    padding-bottom:9px;
}

ul.none li {
    list-style-type:none;
            }

.bibliography-entry{
    text-indent:-20px;
    margin-left:20px;
    widows:2;
    orphans:2; 
}
ul ul{
    break-before:avoid;
}
.table table{
    border-collapse:collapse;
    font-size:0.9em;
    font-family:"Karla", sans-serif;
    line-height:1.2;
    table-layout:fixed;
    margin-bottom:18px;
    width:100%;
  }
.table table td,
    .table table th {
      border:1px solid black;
      padding:0.3em;
      vertical-align:top;
    }
.table table th{
      background:rgb(230, 230, 230);
    }
.table table figcaption{
      margin-top:1.4em;
    }
.table table p,
    .table table li{
      font-size:1em;
      text-align:left;
      text-indent:0;
      line-height:1.2;
    }
.table table li p{
      font-size:1em;
    }
.table table ul{
      margin-left:22px;
    }
.table table p + ul{
      margin-top:0;
      padding-top:0;
    }
th:empty{
  border:0;
  background:unset;
}
body{
  counter-reset:part chapter;
}
.body-chapter{
  counter-increment:chapter;
}
.body-part{
  counter-increment:part;
}
.copyright{
  hyphens:none;
}
.copyright p{
    text-indent:0;
    text-align:left;
  }
.copyright h1{
    font-size:12px;
    margin-top:72px;
  }
.copyright a{
    color:black;
  }
.dedication{
  max-width:60%;
}
.dedication p{
    text-indent:0;
    margin-top:54px;
    text-align:left;
  }
.dedication h1{
    font-size:12px;
    margin-top:72px;
  }
#comp-notes-0 h1.ct::before{
            content:none;
        }
#comp-notes-0 li{
        text-align:left;
    }
#comp-notes-0 ol{
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
    }
.title *{
    hyphens:none;
  }
.title{
  page:title;
}
.title h2{
    margin-top:54px;
    margin-left:0;
    text-indent:0;
    font-style:italic;
    font-size:40px;
    line-height:41.4px;
  }
.title p{
    text-indent:0;
    line-height:18px;
  }
.title .author{
    font-size:1em;
    text-indent:0;
    text-transform:uppercase;
  }
.title .author + p{
    margin-top:36px;
    text-transform:uppercase;
  }
.title img{
  }
.block-appendix{
  background:rgb(240, 240, 240);
  box-shadow:0 0 0 4px rgb(220, 220, 220);
  padding:1em;
  margin-bottom:18px;
  padding-bottom:0;
}
.block-appendix h2{
    text-align:center;
    font-style:normal;
    font-size:15px;
  }
.block-appendix ol,
  .block-appendix ul{
    margin-left:2em;
  }
.appendix,.block-appendix{
 
  word-spacing:unset;
  font-family:"Karla", sans-serif;
}
.appendix h2,
  .appendix h3,
  .appendix h4,
  .block-appendix h2,
  .block-appendix h3,
  .block-appendix h4{
    color:black;
  }
.appendix header, .block-appendix header{
    min-height:unset;
  }
.appendix header h2,.block-appendix header h2{
      line-height:18px;
      text-align:center;
      font-style:normal;
      font-size:15px; 
    }
.appendix h3, .block-appendix h3{
    margin-bottom:0.5em;
    font-size:1.3em;
    font-style:normal;
  }
.appendix .container *, .block-appendix .container *{
      text-indent:0;
      text-align:left;
    }
.appendix .container a, .block-appendix .container a{
      text-decoration:none;
      color:black;
    }
.appendix .container table, .block-appendix .container table{
      width:100%;
      table-layout:fixed;
      border-collapse:collapse;
      margin-top:2em;
      margin-bottom:2em;
      font-size:0.9em;
      line-height:14px;
    }
.appendix .container table p,
      .appendix .container table li,
      .block-appendix .container table p,
      .block-appendix .container table li{
        font-size:1em;
        text-align:left;
        text-indent:0;
        line-height:1.2;
      }
.appendix .container table blockquote, .block-appendix .container table blockquote{
        margin:0;
        padding:0;
      }
.appendix .container table tr, .block-appendix .container table tr{
        break-inside:avoid;
      }
.appendix .container table td,
      .appendix .container table th,
      .block-appendix .container table td,
      .block-appendix .container table th{
        border:1px solid grey;
        padding:0.5em;
      }
.appendix .container table td a, .appendix .container table th a, .block-appendix .container table td a, .block-appendix .container table th a{
          word-break:break-all;
          

        }
.appendix figcaption,.block-appendix figcaption{
    font-family:"Linguistics Pro", serif;
  }
.appendix .rotate{
    writing-mode:vertical-rl;
  }
.appendix .rotate table{
      margin:0;
      margin-top:0;
      margin-bottom:0;
    }
.appendix .rotate table td{
        vertical-align:top;
      }
#star7{
  width:75px;
  float:right;
} 

 

.none {
list-style-type: none;
}

#toc a {
color: black;
text-decoration: none;
}

.toc li {
margin-top: 3em;
text-align: left;
}

.toc li li {
margin-top: 0.5em;
list-style-type: none;

}

.contributors p  {
margin-bottom: 2em;
text-indent: 0;

}


table  {
	border: 1px solid black;
border-collapse: collapse;
}
tr, td, th {
	border: 1px solid black;
}


 