html{
  line-height:18px;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  margin:0;
  padding:0;
}
article,
aside,
footer,
header,
nav,
section{
  display:block;
}
h1{
  font-size:2em;
  margin:0.67em 0;
}
figcaption,
figure,
main{
  display:block;
}
figure{
  margin:1em 40px;
  break-inside:avoid;
}
hr{
  box-sizing:content-box;
  height:0;
  overflow:visible;
}
pre{
  font-family:monospace, monospace;
  font-size:1em;
}
a{
  background-color:transparent;
  -webkit-text-decoration-skip:objects;
}
abbr[title]{
  border-bottom:none;
  text-decoration:underline;
  text-decoration:underline dotted;
}
b,
strong{
  font-weight:inherit;
  font-weight:bolder;
}
code,
kbd,
samp{
  font-family:monospace, monospace;
  font-size:1em;
}
dfn{
  font-style:italic;
}
mark{
  background-color:#ff0;
  color:#000;
}
small{
  font-size:80%;
}
sub,
sup{
  font-size:75%;
  line-height:0;
  position:relative;
  vertical-align:baseline;
}
sub{
  bottom:-0.25em;
}
sup{
  top:-0.5em;
}
audio,
video{
  display:inline-block;
}
audio:not([controls]){
  display:none;
  height:0;
}
img{
  border-style:none;
}
svg:not(:root){
  overflow:hidden;
}
button,
input,
optgroup,
select,
textarea{
  font-family:sans-serif;
  font-size:100%;
  line-height:1.15;
  margin:0;
}
button,
input{
  overflow:visible;
}
button,
select{
  text-transform:none;
}
button, html [type="button"], [type="reset"], [type="submit"]{
  -webkit-appearance:button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner{
  border-style:none;
  padding:0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring{
  outline:1px dotted ButtonText;
}
fieldset{
  padding:0.35em 0.75em 0.625em;
}
legend{
  box-sizing:border-box;
  color:inherit;
  display:table;
  max-width:100%;
  padding:0;
  white-space:normal;
}
progress{
  display:inline-block;
  vertical-align:baseline;
}
textarea{
  overflow:auto;
}
[type="checkbox"],
[type="radio"]{
  box-sizing:border-box;
  padding:0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button{
  height:auto;
}
[type="search"]{
  -webkit-appearance:textfield;
  outline-offset:-2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration{
  -webkit-appearance:none;
}
::-webkit-file-upload-button{
  -webkit-appearance:button;
  font:inherit;
}
details, menu{
  display:block;
}
summary{
  display:list-item;
}
canvas{
  display:inline-block;
}
template,[hidden]{
  display:none;
}
@font-face{
    font-family:"Noto Serif JP";
    src:url(../fonts/NotoSerifJP-Regular.woff2) format("woff2");
    font-style:normal;
    font-weight:400;
    unicode-range: 4E00–9FFF;
}
@font-face{
    font-family:"Noto Serif JP";
    src:url(../fonts/NotoSerifJP-Regular.woff2) format("woff2");
    font-style:italic;
    font-weight:400;
    unicode-range: 4E00–9FFF;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../fonts/LinguisticsPro-Regular.otf);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../fonts/LinguisticsPro-Italic.otf);
    font-weight:400;
    font-style:italic;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../fonts/LinguisticsPro-Bold.otf);
    font-weight:600;
    font-style:normal;
}
@font-face{
    font-family:"Linguistics Pro";
    src:url(../fonts/LinguisticsPro-BoldItalic.otf);
    font-weight:600;
    font-style:italic;
}
@font-face{
    font-family:"Linguistics Pro smallcaps";
    src:url(../fonts/LinguisticsPro-SmallCaps.woff2);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Karla";
    src:url(../fonts/Karla-Regular.ttf);
    font-weight:400;
    font-style:normal;
}
@font-face{
    font-family:"Karla";
    src:url(../fonts/Karla-Italic.ttf);
    font-weight:400;
    font-style:italic;
}
:root{
  --color-background:rgba(0, 0, 0, 0.2);
  --color-pageBox:brown;
  --color-paper:white;
  --color-ruler:brown;
  --link-background:var(--color-paper);
  --color-baseline:cyan;
  --font-body:"Linguistics Pro", serif;
  --font-body-small-caps:"Linguistics Pro smallcaps";
  --font-sans:"Karla";
  --font-size:12px;
  --font-lineHeight:18px;

  --text-indent:20px;
  --color-body:black;

  --primary:#b2c249;
  --accessibility:#7C994D;
  --back:var(--primary);
  --blue:rgb(6, 110, 150);
  --color-secondary:#e65a3a;
  --color-secondary:#D03C1B; 
   --primary:var(--accessibility);
}
body{
  font-family:var(--font-body);
  font-size:var(--font-size);
  line-height:var(--font-lineHeight);
  color:var(--color-body);
  word-spacing:-0.1px;
  font-variant-ligatures:common-ligatures;
}
ul + p, ol + p, h1 + p, h2 + p, h3 + p, h4 + p, h5 + p, h6 + p{
    text-indent:0;
  }
ul,
ol,
blockquote,
p{
  margin:0;
  padding:0;
  orphans:2;
  widows:2;
  hyphens:auto;
}
p,
li{
  font-size:var(--font-size);
  line-height:var(--font-lineHeight);
  text-align:justify;
  hyphens:none;
  text-indent:var(--text-indent);
}
p.sc-continuous-paragraph, li.sc-continuous-paragraph{
    text-indent:0;
  }
hr{
  height:var(--font-lineHeight);
  margin:0;
  padding:0;
  border:0;
  margin-top:calc(var(--font-lineHeight));
  margin-bottom:calc(var(--font-lineHeight));
  position:relative;
  top:4px;
}
hr::before{
    width:100%;
    position:absolute;
    display:block;
    content:"* * *";
    text-align:center;
    margin:0;

  }
hr + p{
    text-indent:var(--text-indent);
  }
blockquote{
  padding-top:calc(var(--font-lineHeight) / 2);
  line-height:var(--font-lineHeight);
  padding-bottom:calc(var(--font-lineHeight) / 2);
  padding-left:39px;
  font-style:italic;
  font-weight:400;
}
blockquote em,blockquote cite{
    font-style:normal;
  }
blockquote cite{
    line-height:0;
    margin-left:0.5em;
    font-weight:400;
  }
blockquote cite::before{
      content:"[";
      margin-right:0.5ch;
    }
blockquote cite::after{
      content:"]";
      margin-left:0.5ch;
    }
blockquote cite em{
      font-style:italic;
      line-height:0;
    }
blockquote.sepo{
    white-space:pre-wrap;
  }
blockquote p:first-of-type{
    text-indent:0;
  }
.component-front a, .component-body a, .component-back a{
    text-decoration:none;
    font-style:italic;
    line-height:0;
  }
.component-front a:not(.note-callout), .component-body a:not(.note-callout), .component-back a:not(.note-callout){
      background:linear-gradient(to bottom, var(--link-background) 0, var(--link-background) 95%, var(--color-secondary) 95%, var(--color-secondary) 100%);
      color:var(--color-secondary);
    }
.component-front a:not(.note-callout)::after, .component-body a:not(.note-callout)::after, .component-back a:not(.note-callout)::after{
        font-size:0.9em;
        line-height:0;
      }
a.note-callout{
  font-style:normal;
  font-weight:600;
  font-variant-numeric:oldstyle-nums;
  font-size:0.75em;
  margin-left:0.2ch;
  margin-right:0.3ch;
  position:relative;
  top:-3px;
  color:inherit;
  font-weight:400;
  font-variant-numeric:lining-nums;
  font-family:var(--font-sans);
}
a.note-callout,em,
sup,
sub,
strong,
b,
i{
  line-height:0;
}
em{

}
.small-caps{
  font-family:var(--font-body-small-caps);
  text-transform:lowercase;
}
figure figcaption p{
      text-indent:0;
    }
.underline{
  text-decoration:underline;
}
.notes li{
  }
ol.notes[data-split-from],
ul.notes[data-split-from]{
  padding-top:0 !important;
}
[id^="note-"]:nth-last-child(2){
  break-after:avoid;
}
.contrib{
  margin-bottom:var(--font-lineHeight);
  text-indent:0;

}
.contrib strong{
    font-variant:all-small-caps;
    font-weight:bold;
    font-size:1.3em;
  }
p.contrib.start:first-letter,p.contrib.start:first-line{
  all:unset;
}
span[lang="ja"]{
  font-style:normal;
}
.jap-in{
  text-justify:inter-word;

}
.emdash{
  letter-spacing:1px;
}
.unnumbered-notes li, .part-notes li, .component-notes li{
    text-align:left;
  }
h1,
h2,
h3,
h4,
h5,
h6{
  font-weight:600;
  margin:0;
  padding:0;
  color:var(--primary);
}
header{
}
.part-number,
.chapter-number{
  margin-left:3px;
  margin-top:calc(var(--font-lineHeight) * 2 * -1);
  border-top:1px solid var(--primary);
  height:0.4em;
  font-style:normal;
  text-transform:uppercase;
  letter-spacing:0.3em;
  padding-bottom:0.1em;
  color:var(--color-body);
  font-family:var(--font-sans);
}
.part-number::before{
  content:"part ";
}
.chapter-number::before{
  content:"chapter ";
}
h1{
  text-align:left;
  font-size:30px;
  line-height:calc(var(--font-lineHeight) * 2);
  max-width:20ch;
  line-height:calc(var(--font-lineHeight) * 2);
}
h1.ct,
  h1.booktitle{
    margin-top:calc(var(--font-lineHeight) * 3);
    margin-left:0;
    text-indent:0;
    font-style:italic;
  }
h1.booktitle::before{
    content:none;
  }
h1 + p{
  }
header{
  min-height:calc(var(--font-lineHeight) * 12);
}
:not(.appendix) header + p.double-story:first-letter, :not(.appendix) header + p.double-story:first-letter, :not(.contributors) header + p.double-story:first-letter{
    }
.component-front header + p:first-line, .component-body header + p:first-line{
      font-family:var(--font-body-small-caps);
    }
.component-front header + p::first-letter, .component-body header + p::first-letter{
      font-family:var(--font-body);
      font-size:7em;
      position:relative;
      color:var(--primary);
      font-style:italic;
      font-weight:600;
      text-transform:uppercase;
      line-height:0.8;
      display:inline-block;
      font-variant:none;
      float:left;
      margin-left:-16px;
      border:2px solid #0000;
      margin-right:14px;
      margin-top:-20px;
    }
h2 + p{
  text-indent:0;
}
header + h2 + p:first-line{
  }
header + h2 + p::first-letter{
  }
:root{
  --font-scale:1.618;
}
h1{
  line-height:calc(var(--font-lineHeight) * 2);
}
h2{
  font-size:20px;
  line-height:calc(var(--font-lineHeight) * 1);
  font-style:italic;
  margin-top:calc(var(--font-lineHeight) * 2);
  margin-bottom:calc(var(--font-lineHeight) * 1);
}
h2 + p{
  }
h2.notes-title,h3{
    margin-top:calc(var(--font-lineHeight) * 2);
}
h3{
  font-size:16px;
  margin-bottom:calc(var(--font-lineHeight) * 1);
  font-style:italic;
}
h3 + p{
  }
h4{
  font-size:14px;
  margin-bottom:0;
  color:var(--primary);
  margin-top:calc(var(--font-lineHeight) * 1);
}
h4 + p{
  }
h5{
  font-weight:600;
  margin-top:var(--font-lineHeight);
}
h5,h6{
  font-size:var(--font-size);
  color:var(--color-body);
}
h6{
  font-weight:400;
  margin-top:calc(var(--font-lineHeight) / 2);
  margin-bottom:calc(var(--font-lineHeight) / 2);
  margin-left:var(--text-indent);
}
h6 + p{
    text-indent:var(--text-indent);
  }
.pagedjs_page_content::after{
  content:" ";
  display:block;
  position:absolute;
  width:1px;
  top:-40000px;
  bottom:-40000px;
  left:39px;
  z-index:4000;
}
.cst{
  margin-top:calc(var(--font-lineHeight) * 1);
  text-indent:0;
  font-size:15px;
  font-style:italic;
  font-weight:600;
  max-width:80%;
  hyphens:none;
  text-align:left;
  color:var(--primary);
  margin-bottom:0;
}
.cst:last-child{
    margin-bottom:calc(var(--font-lineHeight) * 6);
  }
h1,
h2,
h3,
h4,
h5,
h6{
  break-after:avoid;
}
header blockquote:last-child{
  margin-bottom:72px;
}
header cite{
    display:block;
    margin-top:calc(var(--font-lineHeight) - 1px);
    line-height:18px;
    font-weight:400;
    text-align:left;
    padding-left:12em;
  }
header cite::before{
      content:"\2014";
      margin-right:1ch;
      font-size:0.85em;
    }
header cite::after{
      content:none;
    }
header .sep,
  header .sepo{
    background:rgba(255, 255, 255, 0.3);
    padding:var(--font-lineHeight);
    width:55ch;
    text-align:left;
  
  }
header .ct + blockquote{
    margin-top:144px;
  }
header .author{
    text-transform:uppercase;
    margin-top:var(--font-lineHeight);
    hyphens:none;
    text-align:left;
    font-family:var(--font-sans);
  }
header .author,p.start{
    text-indent:0;
}
header blockquote.sep{
  width:100%;
  padding-left:12em;
  margin-top:6em;
}
header blockquote.sep p{
    text-indent:0;
  }
.break{
  break-after:page;
}
.front-component h1::before, .back-component h1::before{
    content:none;
  }
.chapter header blockquote cite{
      display:block;
      font-weight:400;
      margin:0;
      padding:0;
    }
.half-title h1{
    color:white;
    margin-top:calc(var(--font-lineHeight) * 3);
    margin-left:0;
    text-indent:0;
    font-style:italic;
  }
img{
  width:100%;

  height:auto;
  margin-bottom:calc(var(--font-lineHeight) / 2);
  object-fit:contain;
}
figure{
  padding:0;
  margin:0;
  margin-top:calc(var(--font-lineHeight) / 2);
  margin-bottom:calc(var(--font-lineHeight) / 2);
}
figure + figure{
    margin-top:calc(var(--font-lineHeight) * 2);
  }
figure figcaption p{
    text-align:center;
    margin:0 auto;
    font-family:var(--font-sans);
    hyphens:none;
  }
figure figcaption + img{
    margin-top:var(--font-lineHeight);
  }
.screenshot img{
  width:100%;
  height:calc(var(--font-lineHeight) * 19);
}
.full-page{
page:fullpage;
}
@page fullpage{
}
.pagedjs_page figure:first-child{ 
  margin-top:0;
}
.landscape img{
  border:2px solid red;
  height:;
}
ol, ul{
    margin-left:40px;
    padding-top:calc(var(--font-lineHeight) / 2);
    padding-bottom:9px;
}
li{
    text-indent:0;
    hyphens:auto;
}
ol[data-split-from], ul[data-split-from]{
    padding-top:calc(var(--font-lineHeight) / 2) !important;
    padding-bottom:9px;
}
ul{
    list-style-type:none;
}
ul li::before{
            content:"— ";
            display:block;
            position:absolute;
            margin-left:-20px;
        }
ul.none li::before{
                content:none;
            }
ol{
}
ol li::before{
            width:14px;
            display:block;
            position:absolute;
            margin-left:-25px;
            text-align:right;
            font-variant-numeric:oldstyle-nums;
        }
.bibliography-entry{
    text-indent:calc(var(--text-indent) * -1 );
    margin-left:var(--text-indent);
    break-inside:avoid;
    widows:2;
    orphans:2; 
    text-align:left;
}
ul ul{
    break-before:avoid;
}
.table table{
    border-collapse:collapse;
    font-size:0.85em;
    font-family:var(--font-sans);
    line-height:1.2;
    table-layout:fixed;
    margin-bottom:var(--font-lineHeight);
    width:100%;
  }
.table table tr{
      break-inside:avoid;
    }
.table table td,
    .table table th{
      border:1px solid black;
      padding:0.3em;
    vertical-align:inherit;

    }
.table table th{
      background:rgb(230, 230, 230);
    }
.table table figcaption{
      margin-top:var(--font-lineHeight);
    }
.table table p,
    .table table li{
      font-size:1em;
      text-align:left;
      text-indent:0;
      line-height:1.2;
    }
.table table li p{
      font-size:1em;
    }
.table table ul{
      margin-left:22px;
    }
.table table p + ul{
      margin-top:0;
      padding-top:0;
    }
th:empty{
  border:0;
  background:unset;
}
body{
  counter-reset:part chapter;
}
.body-chapter{
  counter-increment:chapter;
}
.body-part{
  counter-increment:part;
}
.copyright{
  hyphens:none;
}
.copyright p{
    text-indent:0;
    text-align:left;
    font-size:unset;
  }
.copyright h1{
    font-size:var(--font-size);
    margin-top:calc(var(--font-lineHeight) * 4);
  }
.copyright a{
    color:var(--color-body);
  }
.dedication{
  max-width:60%;
}
.dedication p{
    text-indent:0;
    margin-top:calc(var(--font-lineHeight) * 3);
    text-align:left;
  }
.dedication h1{
    font-size:var(--font-size);
    margin-top:calc(var(--font-lineHeight) * 4);
  }
#comp-notes-0 h1.ct::before{
            content:none;
        }
#comp-notes-0 li{
        text-align:left;
    }
#comp-notes-0 ol{
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
    }
.title *{
    hyphens:none;
  }
.title{
  page:title;
}
.title h2{
    margin-top:calc(var(--font-lineHeight) * 3);
    margin-left:0;
    text-indent:0;
    font-style:italic;
    font-size:40px;
    line-height:calc(var(--font-lineHeight) * 2.3);
  }
.title p{
    text-indent:0;
    line-height:var(--font-lineHeight);
  }
.title .author{
    font-size:1em;
    text-indent:0;
    text-transform:uppercase;
  }
.title .author + p{
    margin-top:calc(var(--font-lineHeight) * 2);
    text-transform:uppercase;
  }
.title img{
  }
.block-appendix{
  background:rgb(240, 240, 240);
  box-shadow:0 0 0 4px rgb(220, 220, 220);
  padding:1em;
  margin-bottom:var(--font-lineHeight);
  padding-bottom:0;
}
.block-appendix h2{
    text-align:center;
    font-style:normal;
    font-size:15px;
  }
.block-appendix ol,
  .block-appendix ul{
    margin-left:2em;
  }
.appendix,
.block-appendix{
 
  word-spacing:unset;
  font-family:var(--font-sans);
}
.appendix h2,
  .appendix h3,
  .appendix h4,
  .block-appendix h2,
  .block-appendix h3,
  .block-appendix h4{
    color:black;
  }
.appendix header, .block-appendix header{
    min-height:unset;
  }
.appendix header h2, .block-appendix header h2{
      line-height:var(--font-lineHeight);
      text-align:center;
      font-style:normal;
      font-size:15px; 
    }
.appendix h3, .block-appendix h3{
    margin-bottom:0.5em;
    font-size:1.3em;
    font-style:normal;
  }
.appendix .container *, .block-appendix .container *{
      text-indent:0;
      text-align:left;
    }
.appendix .container a, .block-appendix .container a{
      text-decoration:none;
      color:black;
    }
.appendix .container table, .block-appendix .container table{
      width:100%;
      table-layout:fixed;
      border-collapse:collapse;
      margin-top:2em;
      margin-bottom:2em;
      font-size:0.9em;
      line-height:14px;
    }
.appendix .container table p,
      .appendix .container table li,
      .block-appendix .container table p,
      .block-appendix .container table li{
        font-size:1em;
        text-align:left;
        text-indent:0;
        line-height:1.2;
      }
.appendix .container table blockquote, .block-appendix .container table blockquote{
        margin:0;
        padding:0;
      }
.appendix .container table tr, .block-appendix .container table tr{
        break-inside:avoid;
      }
.appendix .container table td,
      .appendix .container table th,
      .block-appendix .container table td,
      .block-appendix .container table th{
        border:1px solid grey;
        padding:0.5em;
      }
.appendix .container table td a, .appendix .container table th a, .block-appendix .container table td a, .block-appendix .container table th a{
          word-break:break-all;
          

        }
.appendix figcaption, .block-appendix figcaption{
    font-family:var(--font-body);
  }
.appendix .rotate{
    writing-mode:vertical-rl;
  }
.appendix .rotate table{
      margin:0;
      margin-top:0;
      margin-bottom:0;
    }
.appendix .rotate table td{
        vertical-align:top;
      }
#fig-3 img{
  height:calc(var(--font-lineHeight) * 14);

}
@media screen{
    body{
        background-color:var(--color-background);
    }
    .pagedjs_pages{
        display:flex;
        width:calc(var(--pagedjs-pagebox-width) * 2);
        flex:0;
        flex-wrap:wrap;
        justify-content:center;
        margin-bottom:3em;
    }
    .pagedjs_page{
        background-color:var(--color-paper);
        box-shadow:0 0 0 2px var(--color-pageBox);
        margin:0;
        flex-shrink:0;
        flex-grow:0;
        margin-top:10mm;
    }
    .pagedjs_first_page{
        margin-left:var(--pagedjs-pagebox-width);
    }
    
    .pagedjs_page > [class*="pagedjs_margin"]{
        box-shadow:0 0 0 1px var(--color-marginBox);
    }
  .pagedjs_pages{
        flex-direction:column;
        width:100%;
    }

    .pagedjs_first_page{
        margin-left:0;
    }

    .pagedjs_page{
        margin:0 auto;
        margin-top:10mm;
    } 


   

}
:root{
  --baseline:18px;
  --baseline-color:red;
}
@media screen{

  .pagedjs_page{
    background:repeating-linear-gradient( 
      white 0, 
      white calc(var(--baseline) - 1px), 
        var(--baseline-color) calc(var(--baseline)));
    background-size:cover;
    background-repeat:repeat-y;  
    background-position-y:1px;
  }
    .pagedjs_page_content::after{
      content:"1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40";
      line-height:var(--font-lineHeight);
      position:absolute;
      top:0;
      left:471px;
      color:var(--baseline-color);
      display:block;
      text-align:right;
      width:2ch;
    }
  h2::before{
  }
  h2::before,h3::before{
    color:red;
    position:absolute;
    left:-2px;
  }
  h3::before{
  }

  .pagedjs_area::after{
    display:block;
    border-right:1px solid red;
    width:calc(var(--margin-left) + 40px);
    top:0;
    position:absolute;
    height:100%;
  }
}
blockquote[data-split-from]{
    padding-top:calc(var(--font-lineHeight) / 2) !important;
}
.notes[data-split-from]{
    padding-top:unset !important;
}
.pagedjs_page_content div section[data-split-from] > h2:first-child,.pagedjs_page_content div section[data-split-from] > h3:first-child,.pagedjs_page_content div section[data-split-from] > h4:first-child{
        margin-top:0;
      }
.pagedjs_pages > .pagedjs_page > .pagedjs_area > div blockquote[data-split-from]{
    margin-top:calc(var(--font-lineHeight) / 2);
  }
.component-front,
.component-back,
.component-body{
  break-before:page;
}
.start-right{
  break-before:right;
}
.start-left{
  break-before:left;
}
.running-left{
  position:running(left);
}
.running-right{
  position:running(right);
}
@page{
  size:6in 9in;
  margin-top:61px;
  margin-bottom:78px;
}
@page :right{
  margin-right:0.75in;
  margin-left:0.65in;

  @bottom-right{
    text-align:right;
    content:counter(page);
    text-indent:0;
    width:50px;
    letter-spacing:0.2px;
    word-spacing:0;
    font-size:10px;
    font-family:var(--font-sans);
  }

  @bottom-left{
    content:element(right);
    text-indent:0;
    font-size:1em;
    font-style:italic;
    font-size:0.85em;
    letter-spacing:0.2px;
    word-spacing:0;
  }
}
@page :left{
  margin-left:0.75in;
  margin-right:0.65in;

  @bottom-left{
    content:counter(page);
    width:50px;
    letter-spacing:0.2px;
    word-spacing:0;
    font-size:10px;
    font-family:var(--font-sans);
  }

  @bottom-right{
    content:element(right);
    text-align:right;
    font-size:1em;
    font-style:italic;
    font-size:0.85em;
    letter-spacing:0.2px;
    word-spacing:0;
  }
}
@page :blank{
  @bottom-left{
    content:none;
  }

  @bottom-right{
    content:none;
  }
}
.toc{
  page:toc;
  hyphens:none;
}
@page toc:right{
  @bottom-left{
    content:none;
  }
}
@page toc:left{
  @bottom-right{
    content:none;
  }
}
.toc header{
  min-height:unset;
}
.toc .ct::before{
  content:none;
}
.toc ol,
.toc ul{
  list-style-type:none;
  padding:0;
  margin-left:0;
  width:97%;
  bottom:0;
}
.toc ol li, .toc ul li{
    font-weight:400;
    font-style:italic;
    position:relative;
    margin-bottom:calc(var(--font-lineHeight) / 3);
    text-align:left;
  }
.toc ol li em, .toc ul li em{
      font-style:normal;
    }
.toc ol li::before, .toc ul li::before{
      content:". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
      text-align-last:justify;
      width:calc(100% - 1em);
      margin-left:0;
      bottom:0;
      position:absolute;
      color:grey;
    }
.toc ol .toc-chapter,
  .toc ol .toc-unnumbered,
  .toc ul .toc-chapter,
  .toc ul .toc-unnumbered{
  }
.toc ol .toc-back, .toc ul .toc-back{
    margin-top:var(--font-lineHeight);
  }
.toc ol .toc-part, .toc ul .toc-part{
    font-size:1.3em;
    margin-top:calc(var(--font-lineHeight) * 2);
  }
.toc ol .toc-part a, .toc ul .toc-part a{
      font-weight:600;
      color:var(--primary);
    }
.toc ol .toc-part::before, .toc ul .toc-part::before,.toc ol .toc-part a::after, .toc ul .toc-part a::after{
      content:none;
    }
.toc ol a, .toc ul a{
    color:black;
    text-decoration:none;
    position:relative;
    padding-right:0.5ch;
    z-index:2000;
    display:inline-block;
    text-shadow:1px 1px var(--color-paper), -1px -1px var(--color-paper), -1px 1px var(--color-paper), 1px -1px var(--color-paper), 1px 1px var(--color-paper), -1px -1px var(--color-paper), -1px 1px var(--color-paper), 1px -1px var(--color-paper), 3px 3px var(--color-paper), -3px -3px var(--color-paper), -3px 3px var(--color-paper), 3px -3px var(--color-paper);
  }
.toc ol a::after, .toc ul a::after{
      content:target-counter(attr(href url), page);
      font-style:normal;
      z-index:2000;
      background:var(--color-paper);
      padding-left:2ch;
    }
.toc ol .toc-front a::after, .toc ol .toc-back a::after, .toc ul .toc-front a::after, .toc ul .toc-back a::after{
    }
.toc .chapterNum{
}
.toc-component,.toc-front .toc-component{
}
.toc li{
  padding-left:0;
  margin-left:0;
}
.toc li a{
  display:flex;
  justify-content:space-between;
}
.toc li a .chapterNum{
    place-self:flex-start;
    text-align:right;
    min-width:4ch;
    background:var(--color-paper);
    padding-right:2ch;
    align-self:stretch;

  }
.toc li a .name{
    background:white;
    display:flex;
  }
.toc li a:after{
    place-self:flex-end;
    height:1.1em;
  }
.toc li a .chapterNum:empty{
  background:var(--color-paper);

}
.toc [data-split-from] li{
  margin-top:0;
}
.cover{
    page:cover;
}
.cover header{
    }
.cover figure{
        position:absolute;
        top:-10px;
        right:-10px;
        left:-10px;
        bottom:-10px;
        margin:0;
    }
.cover figure img{
            width:100%;
            height:100%;
            margin:0;
            object-fit:cover;
        }
@page cover{
    margin:0px;
    @bottom-left{
        content:none;
    }
    @bottom-right{
        content:none;
    }
}
.component-front,
.component-back{
  page:front;
}
@page front :right{
  @bottom-left{
    content:string(chaptertitle);
  }
}
@page front :left{
  @bottom-right{
    content:string(booktitle);
 
  }
}
.body-chapter{
  page:chapter;
}
.body-part{
    --back:var(--primary);
    page:part;
    break-after:right;
}
@page part:first{

}
.body-unnumbered{
  page:unnumbered;
}
@page unnumbered{
}
.body-unnumbered h1::before{
      margin-left:3px;
      content:none;
      position:absolute;
      font-size:0.3em;
      margin-top:calc(var(--font-lineHeight) * 2 * -1);
      height:0.4em;
      font-style:normal;
      text-transform:uppercase;
      letter-spacing:0.3em;
      box-shadow:0 1px 0 black, -2px 0 0 inset white, 2px 0 0 inset white, -2px 0 0 white, 2px 0 0 white;
      padding-bottom:0.1em;
    }
.body-unnumbered h1 header blockquote cite{
        display:block;
        font-weight:400;
        margin:0;
        padding:0;
      }
.notes{
    padding-bottom:0;
    margin:0;
    margin-left:20px;
    padding:0;
}
.notes .backLink{
        display:none;
    }
.notes li{
        widows:2;
        orphans:2;
    }
#comp-notes-0{
    page:note;
}
#comp-notes-0 h1.ct::before{
            content:none;
        }
#comp-notes-0 li{
        text-align:left;

    }
#comp-notes-0 ol{
        margin-top:0;
        margin-bottom:0;
        padding-top:0;
        padding-bottom:0;
    }
@page note:right{
    ;
    @bottom-left{content:"Notes"}
}
@page note:left{
    @bottom-right{content:"Notes"}

}
.half-title{
  page:halftitle;

}
@page halftitle{
  margin-top:61px;
  background-position:50% 80%;
  background:var(--back);

  @bottom-left{
    content:none;
  }

  @bottom-right{
    content:none;
  }
}
.pub{
  position:absolute;
  bottom:-90px;
  right:-80px;
  width:80%;
}
.pub img{
  }
.title{
  page:title;
}
.title .pub{
    position:absolute;
    bottom:-90px;
    right:-80px;
    width:80%;  
  }
@page title{
  @bottom-center{
    content:none;
  }
  @bottom-right{
    content:none;
  }
  @bottom-left{
    content:none;
  }
}
.copyright{
  page:copyright;
  position:absolute;
  bottom:4px;
  max-width:70%;
  font-size:0.8em;

}
@page copyright{
  @bottom-center{
    content:none;
  }
  @bottom-right{
    content:none;
  }
  @bottom-left{
    content:none;
  }
}
.dedication{
  page:dedication;
 
}
@page dedication{
  @bottom-center{
    content:none;
  }
  @bottom-right{
    content:none;
  }
  @bottom-left{
    content:none;
  }
}
.appendix{
  --link-background:rgb(240, 240, 240);
  page:appendix;
}
h2{
}
@page appendix :left{
  margin-top:41px;
  @bottom-right{
    content:string(title);
    text-transform:uppercase;
    font-size:0.8em;
    font-family:var(--font-sans);
    text-overflow:ellipsis;
    font-style:normal;
  }
}
@page appendix :right{
  margin-top:41px;
  @bottom-left{
    content:string(title);
    text-transform:uppercase;
    font-size:0.8em;
    font-family:var(--font-sans);
    text-overflow:ellipsis;
    font-style:normal;
  }
}
.contributors{
}





/*# sourceMappingURL=dist/css/maps/ */