/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Crimson Pro", serif;
  font-size: 11pt;
  line-height: 15pt; }

h1, h2, h3, h4, h5, h6{
  break-after: avoid;
  break-inside: avoid; }

h1 {
  font-size: 44pt;
  line-height: 45pt;
  margin: 30pt 0 15pt 0; }

h2 {
  font-size: 27.5pt;
  line-height: 30pt;
  margin: 30pt 0 15pt 0; }

h3 {
  font-size: 15.4pt;
  margin: 15pt 0 0 0; }

h4 {
  font-weight: bold;
  margin: 15pt 0 0 0; }

h5 {
  font-style: italic;
  margin: 15pt 0 0 0; }

h6 {
  margin: 15pt 0 0 0; }

p {
  margin: 0;
  text-align: justify; 
  word-wrap: all;
  hyphens: auto;}
  p + p {
    text-indent: 15pt; }

ol {
  margin-top: 15pt;
  margin-bottom: 15pt;
  margin-left: 15pt;
  list-style: decimal; }

ul {
  margin-top: 15pt;
  margin-bottom: 15pt;
  margin-left: 15pt;
  list-style: disc; }

dl {
  margin: 15pt 0; }
  dl dt {
    display: inline-block;
    float: left;
    font-weight: bold;
    margin-right: 5.5pt; }

blockquote {
  padding: 15pt; }
  blockquote + blockquote {
    padding-top: 0; }
  h1 + blockquote, h2 + blockquote, h3 + blockquote,
  h4 + blockquote, h5 + blockquote, h6 + blockquote {
    padding-top: 0; }

a {
  text-decoration: none;
  color: inherit; }

em {
  font-style: italic; }

strong {
  font-weight: bold; }

sup, sub {
  line-height: 0;
  font-size: 0.8em; }

sup {
  vertical-align: super; }

sub {
  vertical-align: sub; }

hr {
  border: 0;
  font-family: "Lato", sans-serif;
  text-align: center;
  margin: 15pt 0; }
  hr:after {
    content: ""; }

img {
  max-width: 100%; }


/********** COVER  *************/

.cover{
  page: coverlayout;
  background: lightblue;
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}
.cover-top{
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
}
.cover-title{
  position: absolute;
  width: 70%;
  bottom: -60px;
  left: 0;
  padding: 40px;
  background: #f7f7f7;
  box-shadow: 70px -70px 0px -60px rgba(0,0,0,.1);
  color: black;
  font-weight: 800;
  z-index: 1;
}
.cover-bottom{
  position:absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  background: #333;
  color: #f7f7f7;
  padding: 40px;
}
.cover-subtitle{
  margin-top: 60px;
}
.cover-edition{
  position: absolute;
  bottom: 40px;
}

.cover h1 {
  font-size: 27.5pt;
  line-height: 30pt;
  margin: 30pt 0 15pt 0; }

.cover h2 {
  font-size: 15.4pt;
  line-height: 18pt;
  margin: 25pt 0 15pt; }

.cover p + p {
    text-indent: 0pt; }

/********** IMPRINT  *************/

.imprint {
  page: imprint; }
.imprint-bottom {
  position: absolute;
  bottom: 0;
  overflow: hidden; }
.imprint p {
  font-size: .8em;
  margin: 15pt 0;
  text-align: left; }
  .imprint p + p {
    text-indent: 0pt; }

/********** COVER  *************/

.TOC{
  display: none;
}




code, .code {
  font-family: "Inconsolata", monospace;
  line-height: 15pt;
  white-space: pre-wrap;
  background-color: #eee;
  padding: 0.1em 0.3em;
  border-radius: 0.1em;
  font-size: 8.8pt; }

pre {
  background-color: #eee;
  border-radius: 0.1em;
  margin: 15pt 0;
  padding: 7.5pt; }
  pre code {
    padding: 0; }
  pre + p {
    text-indent: 0; }
